
<p id="date" class="down"></p>

<script>
    var currentYear = new Date().getFullYear();
    var str = `© ${currentYear} | All Right Reserved`;
    const par = document.getElementById('date');
    par.innerHTML = str;
</script>